/* RegisterForm.module.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.registrationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Setează lățimea să fie întreaga lățime a viewport-ului */
  height: 100vh; /* Setează înălțimea să fie întreaga înălțime a viewport-ului */
  padding: 20px;

  background: linear-gradient(
      220deg,
      rgba(109, 84, 235, 0.73) 28.31%,
      rgba(101, 35, 146, 0.73) 66.76%
    ),
    url('./RegistrationAsets/brush-hand-white-glove-shows-thumb-up-dollars-are-fallingvxd%202.png')
      no-repeat;
}

.registrationForm {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Fixează dimensiunea maximă a formularului */
  width: 100%; /* Formularul va ocupa întreaga lățime disponibilă */
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  /* form effects */
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
}

.logo {
  display: flex;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  font-size: 14px;
}

.inputField {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.inputField:focus {
  border-color: #4a90e2;
  outline: none;
}

.error {
  color: #ff4d4f;
  font-size: 13px;
  margin-top: 5px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.submitButton,
.backButton {
  width: 48%;
  padding: 12px;
  font-size: 16px;
  border: none;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.submitButton {
  background: linear-gradient(
    to right,
    hsla(44, 100%, 58%, 1),
    hsla(266, 100%, 50%, 1)
  );
  border-radius: 20px;
  color: white;
}

.submitButton:hover {
  background: white;
  color: black;
}

.backButton {
  background: white;
  color: black;
  border: none;
  border-radius: 20px;
}

.backButton:hover {
  background: linear-gradient(
    to right,
    hsla(44, 100%, 58%, 1),
    hsla(266, 100%, 50%, 1)
  );
  color: black;
}

@media (max-width: 768px) {
  .registrationForm {
    padding: 20px;
  }

  .submitButton,
  .backButton {
    width: 100%;
    margin-top: 10px;
  }

  .buttonGroup {
    flex-direction: column;
  }
}
